[Unit]
Description = Nextion Service for "ircDDBGateway" by Yosh Todo/JE3HCZ
After = network.target

[Service]
#Type = forking
Tupe = simple
ExecStart = /usr/local/bin/nextion

[Install]
WantedBy = multi-user.target
